@page "/Day"
@inherits DayBase

<h3>Day</h3>

@if(!State?.Value?.DayWills?.Any() ?? true)
{
    <p>Pas de day wills</p>
}
else
{
    @if (@State?.Value?.DayWills != null)
    {
        @foreach (var dayWill in @State.Value.DayWills)
        {
            <MudAlert Severity="@GetSeverity(dayWill.Status)" Variant="Variant.Filled" Dense="true" Class="my-2">
                @dayWill.Will.Name
                <MudButton OnClick="@(() => ValidateDayWill(dayWill))" Variant="Variant.Filled" Color="Color.Secondary">Validate</MudButton>
            </MudAlert>
        }
    }
}